.references {
    width: 100%;
    height: 100%;
    background: #F9F9F9;
    padding: 40px 0 40px 0px;
    &__paragraph {
        width: calc(100% - 40px);
        margin: 0 auto;
        font-size: 1em;
        line-height: 1.5em;
        text-align: left;
        color: #8C8C8C;
        @include tablet {
            width: calc(100% - 40px);
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}