.dores {
    width: 100%;
    height: 136vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
    @include tablet {
        height: 80vh;
    }
    &__musculares {
        position: absolute;
        width: 100%;
        height: 70%;
        background-image: linear-gradient(top, #BEE5F5, #61C5EE);
        top: -20vh;
        transform:skewY(-20deg);
        @include tablet {
            top: initial;
            width: 80%;
            height: 100%;
            left: -30vw;
            transform:skewX(29deg);
            display: inline-block;
        }
    }
    &__enxaqueca {
        top: 75vh;
        width: 100%;
        position: absolute;
        height: 70%;
        background-image: linear-gradient(to bottom, #0093C0,#00254A);
        transform:skewY(-20deg);
        @include tablet {
            background-image: linear-gradient(to bottom, #0090BD, #56C1ED);
            top: initial;
            width: 80%;
            height: 100%;
            right: -30vw;
            transform:skewX(29deg);
            display: inline-block;
        }
    }
}