.aches .aches__migraine {
    z-index: 0;
    .migraine__icon {
        @include tablet {
            justify-content: flex-end;
        }
        &--right {
            @include tablet { 
                align-self: flex-end;
                margin-left: initial;
                margin-right: 30px;
            }
            @include desktop {
                max-width: 11em;
                margin-right: 1em;
            }
        }
        .migraine__text {
            width: 10em;
            color: white;
            background: #FF0000;
            font-size: .8em;
            padding: 1em 0em 1em 2em;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            align-self: center;
            text-align: initial;
            text-transform: uppercase;
            @include tablet {
                font-size: 1em;
                align-self: flex-end;
                padding: .5em 1em .5em 0;
                margin-top: 10px;
                text-align: center;
            }
            @include desktop {
                padding: 1em 2em 1em 0em;
            }
        }
    }
}
.aches .aches__migraine::before{
    content: '';
    position: absolute;
    left: 0;
    width: 120%;
    height: 120%;
    top: -5em;
    background-image: linear-gradient(to bottom, #0093C0, #0090BD 60%, #00254A);
    transform:skewY(-12deg);
    z-index: -2;
    @include tablet {
        background: radial-gradient(at 10% 70%, #10c6db 10%, #0093C0 50%);
        width: 140%;
        height: 140%;
        transform: skewY(0);
        transform: skewX(8deg);
    }
    @include desktop {
        transform: skewX(15deg);
    }
}