.dores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    background-image: linear-gradient(top, #BEE5F5, #61C5EE);
    img {
        max-width: 100%;
        object-fit: cover;
    }
    .musculares {
        width: 100%;
        position: relative;
        &__icon {
            display: flex;
            justify-content: space-between;
            padding: 1.5em 0;
            .musculares__image {
                width: 9em;
                margin-left: 15px;
            }
            .musculares__text {
                width: 10em;
                color: white;
                background: #000000;
                font-size: .8em;
                padding: .6em 1em .6em 1em;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                align-self: flex-end;
            }
        }
        &__video {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1.5em 0;
            margin: 0 15px;
            .musculares__title {
                color: white;
                font-size: 1.5em;
                font-weight: 500;
                text-shadow: 2px 2px 2px rgba(0,0,0,.2);
                padding-bottom: 1em;
            }
        }
        &__medicine {
            z-index: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 5em;
            .musculares__link {
                color: white;
                font-size: 1em;
                padding: .5em 0 1em 0;
            }
        }
    }
}