.aches {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(top, #BEE5F5, #61C5EE);
    overflow: hidden;
    @include tablet {
        flex-direction: row;
    }
    img {
        max-width: 100%;
        object-fit: cover;
    }
    &__muscle, &__migraine {
        width: 100%;
        position: relative;
        z-index: 1;
        @include tablet {
            width: 50%;
        }
        .muscle__icon, .migraine__icon {
            display: flex;
            justify-content: space-between;
            padding: 1.5em 0;
            @include tablet {
                justify-content: flex-start;
                flex-direction: column;
                padding: 1.5em 0 0 0;
            }
            &--left, &--right {
                width: 9em;
                margin-left: 15px;
                @include tablet {
                    margin-left: 55px;
                }
                @include desktop {
                    width: 12em;
                    margin-left: 35px;
                }
            }
            .muscle__text {
                width: 13em;
                color: white;
                background: #000000;
                font-size: .7em;
                padding: 1em 1em 1em .3em;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                align-self: flex-end;
                text-transform: uppercase;
                @include tablet {
                    font-size: 1em;
                    align-self: flex-start;
                    border-top-left-radius: initial;
                    border-bottom-left-radius: initial;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    padding: .5em 1.8em .5em 1em;
                    text-align: end;
                    margin-top: 10px;
                }
                @include desktop {
                    padding: 1em 1.8em 1em 0em;
                }
            }
        }
    }
}
//Video and title setupt
.aches {
    .video--left, .video--right {
        min-width: 300px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5em 0;
        position: relative;
        z-index: 1;
        @include tablet {
            padding: 2em 0 0 0;
        }
        @include desktop {
            padding: 1em 0 0 0;
        }
        .video__title {
            color: white;
            font-size: 1.5em;
            font-weight: 500;
            text-shadow: 2px 2px 2px rgba(0,0,0,.5);
            padding-bottom: 1em;
            line-height: 36px;
            @include tablet {
                padding-bottom: .5em;
            }
            @include desktop {
                font-size: 2em;
                line-height: 48px;
            }
        }
        .aches__video--left, .aches__video--right{
            width: 95%;
            height: 350px;
            @include tablet {
                width: 90%;
                max-width: 450px;
            }
            @include desktop {
                max-width: 650px;
            }
        }
    }
    .video--left {
        @include tablet {
            padding-top: 3.5em;
        }
        @include desktop {
            padding-top: 2.5em;
        }
    }
}
//Medicine and link setup
.aches {
    &__medicine {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 6em;
        @include tablet {
            padding: 0 0 3em 0;
        }
        &--left, &--right{
            display: none;
            @include tablet {
                display: initial;
                min-width: 250px;
                width: 400px;
                max-height: 150px;
            }
            @include desktop {
                min-width: 300px;
                width: 500px;
                max-height: 200px;
            }
        }
        .aches__medicineToy--left, .aches__medicineToy--right {
            min-width: 300px;
            width: 80%;
            max-width: 400px;
            @include tablet {
                display: none;
            }
        }
        .aches__link {
            color: white;
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}